@import url(https://fonts.googleapis.com/css?family=Questrial|Khula);
html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

button, [type='button'], [type='reset'], [type='submit'] {
  appearance: none;
  background-color: #1565c0;
  border: 0;
  border-radius: 3px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  font-size: 1em;
  -webkit-font-smoothing: antialiased;
  font-weight: 600;
  line-height: 1;
  padding: 0.75em 1.5em;
  text-decoration: none;
  transition: background-color 150ms ease;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap; }
  button:hover, button:focus, [type='button']:hover, [type='button']:focus, [type='reset']:hover, [type='reset']:focus, [type='submit']:hover, [type='submit']:focus {
    background-color: #11519a;
    color: #fff; }
  button:disabled, [type='button']:disabled, [type='reset']:disabled, [type='submit']:disabled {
    cursor: not-allowed;
    opacity: 0.5; }
    button:disabled:hover, [type='button']:disabled:hover, [type='reset']:disabled:hover, [type='submit']:disabled:hover {
      background-color: #1565c0; }

fieldset {
  background-color: transparent;
  border: 0;
  margin: 0;
  padding: 0; }

legend {
  font-weight: 600;
  margin-bottom: 0.375em;
  padding: 0; }

label {
  display: block;
  font-weight: 600;
  margin-bottom: 0.375em; }

input,
select,
textarea {
  display: block;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  font-size: 1em; }

[type='color'], [type='date'], [type='datetime'], [type='datetime-local'], [type='email'], [type='month'], [type='number'], [type='password'], [type='search'], [type='tel'], [type='text'], [type='time'], [type='url'], [type='week'], input:not([type]), textarea,
select[multiple] {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 3px;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06);
  box-sizing: border-box;
  margin-bottom: 0.75em;
  padding: 0.5em;
  transition: border-color 150ms ease;
  width: 100%; }
  [type='color']:hover, [type='date']:hover, [type='datetime']:hover, [type='datetime-local']:hover, [type='email']:hover, [type='month']:hover, [type='number']:hover, [type='password']:hover, [type='search']:hover, [type='tel']:hover, [type='text']:hover, [type='time']:hover, [type='url']:hover, [type='week']:hover, input:not([type]):hover, textarea:hover,
  select[multiple]:hover {
    border-color: #b1b1b1; }
  [type='color']:focus, [type='date']:focus, [type='datetime']:focus, [type='datetime-local']:focus, [type='email']:focus, [type='month']:focus, [type='number']:focus, [type='password']:focus, [type='search']:focus, [type='tel']:focus, [type='text']:focus, [type='time']:focus, [type='url']:focus, [type='week']:focus, input:not([type]):focus, textarea:focus,
  select[multiple]:focus {
    border-color: #1565c0;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06), 0 0 5px rgba(18, 89, 169, 0.7);
    outline: none; }
  [type='color']:disabled, [type='date']:disabled, [type='datetime']:disabled, [type='datetime-local']:disabled, [type='email']:disabled, [type='month']:disabled, [type='number']:disabled, [type='password']:disabled, [type='search']:disabled, [type='tel']:disabled, [type='text']:disabled, [type='time']:disabled, [type='url']:disabled, [type='week']:disabled, input:not([type]):disabled, textarea:disabled,
  select[multiple]:disabled {
    background-color: #f2f2f2;
    cursor: not-allowed; }
    [type='color']:disabled:hover, [type='date']:disabled:hover, [type='datetime']:disabled:hover, [type='datetime-local']:disabled:hover, [type='email']:disabled:hover, [type='month']:disabled:hover, [type='number']:disabled:hover, [type='password']:disabled:hover, [type='search']:disabled:hover, [type='tel']:disabled:hover, [type='text']:disabled:hover, [type='time']:disabled:hover, [type='url']:disabled:hover, [type='week']:disabled:hover, input:not([type]):disabled:hover, textarea:disabled:hover,
    select[multiple]:disabled:hover {
      border: 1px solid #ddd; }

textarea {
  resize: vertical; }

[type="search"] {
  appearance: none; }

[type="checkbox"],
[type="radio"] {
  display: inline;
  margin-right: 0.375em; }

[type="file"] {
  margin-bottom: 0.75em;
  width: 100%; }

select {
  margin-bottom: 0.75em;
  max-width: 100%;
  width: auto; }

html {
  box-sizing: border-box; }

*,
*::before,
*::after {
  box-sizing: inherit; }

ul,
ol {
  list-style-type: none;
  margin: 0;
  padding: 0; }

dl {
  margin: 0; }

dt {
  font-weight: 600;
  margin: 0; }

dd {
  margin: 0; }

figure {
  margin: 0; }

img,
picture {
  margin: 0;
  max-width: 100%; }

table {
  border-collapse: collapse;
  margin: 0.75em 0;
  table-layout: fixed;
  width: 100%; }

th {
  border-bottom: 1px solid #a6a6a6;
  font-weight: 600;
  padding: 0.75em 0;
  text-align: left; }

td {
  border-bottom: 1px solid #ddd;
  padding: 0.75em 0; }

tr,
td,
th {
  vertical-align: middle; }

body {
  color: #333;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  font-size: 1em;
  line-height: 1.5; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  font-size: 1.25em;
  line-height: 1.2;
  margin: 0 0 0.75em; }

p {
  margin: 0 0 0.75em; }

a {
  color: #1565c0;
  text-decoration: none;
  transition: color 150ms ease; }
  a:active, a:focus, a:hover {
    color: #104c90; }

hr {
  border-bottom: 1px solid #ddd;
  border-left: 0;
  border-right: 0;
  border-top: 0;
  margin: 1.5em 0; }

html, body {
  margin: 0;
  padding: 0; }

.wrapper {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto; }
  .wrapper::after {
    clear: both;
    content: "";
    display: block; }

[ng-click]:hover {
  cursor: pointer; }

button {
  background: #424242;
  border-bottom: 5px solid #2de2e0;
  border-radius: 5px;
  color: #2de2e0;
  transition: all 0.5s ease; }

button:hover {
  border-bottom: 5px solid #18aba9;
  background: #1c1c1c;
  color: #2de2e0; }

h1, h2, h3, h4, h5, h6, label, button {
  font-family: "Questrial", sans-serif; }

p, ul {
  font-family: "Khula", sans-serif; }

ul {
  list-style-type: square;
  padding-left: 55px; }

a {
  color: #159493;
  font-weight: bold; }

topbar {
  display: block;
  height: 35px;
  background: #424242;
  width: 100%;
  padding: 8px 10px 5px 8px;
  color: #EEEEEE; }
  topbar .phone {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 48.82117%; }
    topbar .phone:last-child {
      margin-right: 0; }
    @media screen and (max-width: 420px) {
      topbar .phone {
        float: left;
        display: block;
        margin-right: 2.35765%;
        width: 100%; }
        topbar .phone:last-child {
          margin-right: 0; } }
  topbar .tag {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 48.82117%;
    text-align: right; }
    topbar .tag:last-child {
      margin-right: 0; }
    @media screen and (max-width: 420px) {
      topbar .tag {
        display: none; } }

body {
  padding-bottom: 45px;
  background: linear-gradient(rgba(255, 255, 255, 0.55), rgba(255, 255, 255, 0.55)), url("../images/axiom-pattern.png") repeat !important; }

navigation {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  height: 45px; }
  navigation::after {
    clear: both;
    content: "";
    display: block; }
  navigation branding {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 23.23176%; }
    navigation branding:last-child {
      margin-right: 0; }
    @media screen and (max-width: 420px) {
      navigation branding {
        float: left;
        display: block;
        margin-right: 2.35765%;
        width: 65.88078%; }
        navigation branding:last-child {
          margin-right: 0; } }
  navigation large-nav {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 57.35098%; }
    navigation large-nav:last-child {
      margin-right: 0; }
    @media screen and (max-width: 420px) {
      navigation large-nav {
        display: none; } }
    navigation large-nav ul {
      float: right; }
    navigation large-nav ul li {
      display: inline-block;
      float: left;
      margin-right: 25px;
      height: 100px;
      padding-top: 35px;
      text-transform: uppercase;
      letter-spacing: 0.07em; }
  navigation small-nav {
    display: none; }
    @media screen and (max-width: 420px) {
      navigation small-nav {
        display: block;
        float: left;
        display: block;
        margin-right: 2.35765%;
        width: 31.76157%;
        text-align: right;
        padding-top: 30px;
        padding-right: 10px; }
        navigation small-nav:last-child {
          margin-right: 0; } }

main-hero {
  display: block;
  background: linear-gradient(rgba(184, 231, 232, 0.2), rgba(184, 231, 232, 0.1)), url("../images/apr-hero.jpg");
  background-size: cover;
  background-position: center center;
  height: 640px;
  width: 100%;
  position: relative; }
  main-hero hero-caption {
    display: block;
    height: 245px;
    width: 300px;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    margin: auto;
    background: rgba(255, 255, 255, 0.8);
    border: 1px solid #2de2e0;
    padding: 15px;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22); }
    main-hero hero-caption h1 {
      font-size: 3em;
      margin-bottom: 10px; }
    main-hero hero-caption p {
      font-size: 1.2em; }

main-cta {
  display: block;
  width: 100%;
  background: #424242;
  padding: 15px;
  box-shadow: inset 0 -7px 9px -7px rgba(0, 0, 0, 0.4); }
  main-cta .cta-text {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 48.82117%; }
    main-cta .cta-text:last-child {
      margin-right: 0; }
    @media screen and (max-width: 420px) {
      main-cta .cta-text {
        float: left;
        display: block;
        margin-right: 2.35765%;
        width: 100%; }
        main-cta .cta-text:last-child {
          margin-right: 0; } }
  main-cta .cta-image {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 48.82117%;
    padding-top: 50px; }
    main-cta .cta-image:last-child {
      margin-right: 0; }
    @media screen and (max-width: 420px) {
      main-cta .cta-image {
        float: left;
        display: block;
        margin-right: 2.35765%;
        width: 100%; }
        main-cta .cta-image:last-child {
          margin-right: 0; } }
    main-cta .cta-image img {
      border: 5px solid white;
      box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23); }
  main-cta h4 {
    color: #2de2e0; }
  main-cta p {
    color: white; }

app-cta {
  display: block;
  width: 100%;
  background: #2de2e0;
  padding: 15px;
  height: 350px;
  overflow: hidden;
  box-shadow: inset 0 -7px 9px -7px rgba(0, 0, 0, 0.4); }
  app-cta img {
    margin-top: -55px; }
  app-cta h4 {
    color: #424242;
    margin-top: 55px; }
  app-cta p {
    color: #4f4f4f; }

testimonials {
  display: block;
  padding: 15px;
  min-height: 300px;
  height: auto;
  overflow: auto; }

.testimonial-nav {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto; }
  .testimonial-nav::after {
    clear: both;
    content: "";
    display: block; }

.testimonial-selector {
  display: inline-block;
  float: left;
  margin-right: 10px;
  font-size: 1.3em;
  height: 30px;
  margin-bottom: 15px;
  color: rgba(0, 0, 0, 0.6);
  transition: all 0.5s ease; }
  @media screen and (max-width: 420px) {
    .testimonial-selector {
      margin-right: 7px; } }

.testimonial-selector:hover {
  color: #1bc1bf; }

.active-testimony {
  color: #1bc1bf; }

quote {
  font-size: 0.8em;
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 100%; }
  quote:last-child {
    margin-right: 0; }

person {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 100%;
  font-size: 0.7em; }
  person:last-child {
    margin-right: 0; }

blog-latest {
  display: block;
  background: #424242;
  padding: 15px 0 15px 0; }
  blog-latest h1 {
    font-size: 2em;
    color: #2de2e0;
    text-align: center; }
  blog-latest card {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 31.76157%;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    background: #EEEEEE;
    min-height: 580px;
    position: relative; }
    blog-latest card:last-child {
      margin-right: 0; }
    @media screen and (max-width: 420px) {
      blog-latest card {
        float: left;
        display: block;
        margin-right: 2.35765%;
        width: 100%; }
        blog-latest card:last-child {
          margin-right: 0; } }
  blog-latest card-text {
    padding: 10px;
    display: block;
    width: 100%; }

.readmore {
  position: absolute;
  bottom: 15px;
  right: 15px; }

about-us-hero {
  display: block;
  width: 100%;
  height: 300px;
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("../images/about.jpg");
  background-size: cover;
  background-position: center center;
  position: relative; }
  about-us-hero about-us-hero-caption {
    width: 300px;
    height: 100px;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    margin: auto;
    font-size: 2em;
    color: white;
    text-shadow: 1px 2px 3px rgba(0, 0, 0, 0.5); }

about-text {
  padding: 15px;
  display: block;
  width: 100%;
  height: auto; }

blog-hero {
  display: block;
  width: 100%;
  height: 600px;
  background: linear-gradient(rgba(0, 0, 0, 0.555), rgba(0, 0, 0, 0.555)), url("../images/about.jpg");
  background-size: cover;
  background-position: center center;
  position: relative; }
  blog-hero blog-hero-caption {
    width: 60%;
    height: 100px;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    margin: auto;
    color: white; }
    blog-hero blog-hero-caption h1 {
      font-size: 1.5em;
      margin-bottom: 5px; }
    blog-hero blog-hero-caption p {
      font-size: 1em; }

contact {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  padding: 15px; }
  contact::after {
    clear: both;
    content: "";
    display: block; }
  contact .form {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 65.88078%; }
    contact .form:last-child {
      margin-right: 0; }
    @media screen and (max-width: 420px) {
      contact .form {
        float: left;
        display: block;
        margin-right: 2.35765%;
        width: 100%; }
        contact .form:last-child {
          margin-right: 0; } }
  contact .address {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 31.76157%; }
    contact .address:last-child {
      margin-right: 0; }
    @media screen and (max-width: 420px) {
      contact .address {
        float: left;
        display: block;
        margin-right: 2.35765%;
        width: 100%; }
        contact .address:last-child {
          margin-right: 0; } }

.social-bar {
  display: none;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background: #424242;
  color: #2de2e0;
  height: 45px;
  width: 100%; }
  .social-bar ul {
    display: inline-block !important; }
    .social-bar ul li {
      float: left;
      margin-right: 10px; }

faq {
  display: block;
  width: 100%; }
  faq ul {
    padding-left: 0px; }
    faq ul li {
      list-style-type: none;
      padding: 15px;
      background: #18aba9;
      width: 100%;
      transition: all 0.5s ease; }
      faq ul li question {
        width: 100%; }
    faq ul li:nth-child(odd) {
      background: #1dcfcd; }
    faq ul li:hover, faq ul li:nth-child(odd):hover {
      background: #424242;
      color: #2de2e0; }

mobile-nav {
  display: none; }
  @media screen and (max-width: 420px) {
    mobile-nav {
      display: block;
      position: fixed;
      top: 0;
      bottom: 0;
      right: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 9999;
      background: #424242;
      color: #2de2e0; }
      mobile-nav ul {
        list-style-type: none;
        font-size: 2em;
        font-weight: bold;
        margin-top: 55px; }
        mobile-nav ul li {
          color: #2de2e0 !important; }
      mobile-nav #close-mobile-nav {
        position: absolute;
        top: 25px;
        right: 25px;
        color: #2de2e0; } }

.job-list {
  list-style-type: none;
  padding-left: 0px; }
  .job-list li {
    padding: 20px 0px 20px 10px;
    font-size: 1.2em; }

.job-list li:nth-child(even) {
  background: rgba(0, 0, 0, 0.05);
  overflow: auto; }

.job-list li:nth-child(odd) {
  background: rgba(0, 0, 0, 0.1);
  overflow: auto; }

.job-info {
  padding-top: 5px; }

.job-info {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 48.82117%; }
  .job-info:last-child {
    margin-right: 0; }

.job-action {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 23.23176%;
  padding-top: 35px;
  text-align: center; }
  .job-action:last-child {
    margin-right: 0; }

.job-list {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 48.82117%; }
  .job-list:last-child {
    margin-right: 0; }

.job-active {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 48.82117%; }
  .job-active:last-child {
    margin-right: 0; }

.job-active .wrapper {
  background: #424242;
  border-bottom: 5px solid #2de2e0;
  border-radius: 5px;
  color: #2de2e0;
  transition: all 0.5s ease;
  padding: 15px; }

/*# sourceMappingURL=main.css.map */
