@import url(https://fonts.googleapis.com/css?family=Questrial|Khula)

@import 'bourbon/bourbon'
@import 'neat/neat'
@import 'base/base'


//colors
$teal: #2de2e0

//resets
html, body
    margin: 0 
    padding: 0 
   

//breakpoint

$small: new-breakpoint(max-width 420px 12)


//utility
.wrapper
    @include outer-container()

[ng-click]:hover
    cursor: pointer
    

button
    background: #424242
    border-bottom: 5px solid $teal
    border-radius: 5px
    color: $teal
    transition: all 0.5s ease 

button:hover
    border-bottom: 5px solid darken($teal, 15%)
    background: darken(#424242, 15%)
    color: $teal


//fonts
h1, h2, h3, h4, h5, h6, label, button   
    font-family: "Questrial", sans-serif
    
p, ul
    font-family: "Khula", sans-serif

ul 
    list-style-type: square
    padding-left: 55px
 
a
    color: darken($teal, 20%)
    font-weight: bold
    
//boxshadows
$z1: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24)
$z2: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23)
$z3: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23)
$z4: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22)
$z5: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22)

topbar
    display: block
    height: 35px
    background: #424242
    width: 100%
    padding: 8px 10px 5px 8px
    color: #EEEEEE
    .phone
        @include span-columns(6)
        @include media($small)
            @include span-columns(12)
    .tag
        @include span-columns(6)
        text-align: right
        @include media($small)
            display: none
body
    padding-bottom: 45px
    background: linear-gradient(rgba(255, 255, 255, 0.55), rgba(255, 255, 255, 0.55)), url('../images/axiom-pattern.png') repeat !important
    
navigation
    @include outer-container()
    height: 45px
    branding
        @include span-columns(3)
        @include media($small)
            @include span-columns(8)
    large-nav
        @include span-columns(7)
        @include media($small)
            display: none
        ul
            float: right
        ul li 
            display: inline-block
            float: left
            margin-right: 25px
            height: 100px
            padding-top: 35px
            text-transform: uppercase
            letter-spacing: 0.07em
    small-nav
        display: none
        @include media($small)
            display: block
            @include span-columns(4)
            text-align: right
            padding-top: 30px
            padding-right: 10px
//heroes        
main-hero
    display: block
    background: linear-gradient(rgba(184, 231, 232, 0.2), rgba(184, 231, 232, 0.1)), url('../images/apr-hero.jpg')
    background-size: cover
    background-position: center center
    height: 640px
    width: 100%
    position: relative
    hero-caption
        display: block  
        height: 245px
        width: 300px
        position: absolute
        left: 0 
        right: 0 
        bottom: 0 
        top: 0 
        margin: auto
        background: rgba(255, 255, 255, 0.8)
        border: 1px solid $teal
        padding: 15px
        box-shadow: $z4
        h1
            font-size: 3em
            margin-bottom: 10px
        p
            font-size: 1.2em            
    
main-cta
    display: block
    width: 100%
    background: #424242
    padding: 15px   
    box-shadow: inset 0 -7px 9px -7px rgba(0,0,0,0.4)
    .cta-text
        @include span-columns(6)
        @include media($small)
            @include span-columns(12)
    .cta-image
        @include span-columns(6)
        @include media($small)
            @include span-columns(12)    
        padding-top: 50px
        img
            border: 5px solid white
            box-shadow: $z3
    h4
        color: $teal
    p   
        color: white
    
    
app-cta
    display: block
    width: 100%
    background: $teal
    padding: 15px   
    height: 350px
    overflow: hidden
    box-shadow: inset 0 -7px 9px -7px rgba(0,0,0,0.4)
    img
        margin-top: -55px
    h4
        color: #424242
        margin-top: 55px
    p   
        color: lighten(#424242, 5%)

testimonials
    display: block
    padding: 15px
    min-height: 300px
    height: auto
    overflow: auto

.testimonial-nav 
    @include outer-container()

    
.testimonial-selector
    display: inline-block
    float: left 
    margin-right: 10px 
    font-size: 1.3em
    height: 30px
    margin-bottom: 15px
    color: rgba(0, 0, 0, 0.6)
    transition: all 0.5s ease 
    @include media($small)
        margin-right: 7px
.testimonial-selector:hover
    color: darken($teal, 10%)
    
.active-testimony 
    color: darken($teal, 10%)

quote
    font-size: 0.8em
    @include span-columns(12)
person
    @include span-columns(12)
    font-size: 0.7em

blog-latest
    display: block
    background: #424242
    padding: 15px 0 15px 0 
    h1
        font-size: 2em
        color: $teal
        text-align: center
    card
        @include span-columns(4)
        @include media($small)
            @include span-columns(12)
        box-shadow: $z2
        background: #EEEEEE
        min-height: 580px
        position: relative
    card-text
        padding: 10px
        display: block
        width: 100%

.readmore 
    position: absolute
    bottom: 15px
    right: 15px

about-us-hero
    display: block
    width: 100%
    height: 300px
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url('../images/about.jpg')
    background-size: cover
    background-position: center center
    position: relative
    about-us-hero-caption
        width: 300px
        height: 100px
        position: absolute
        left: 0 
        right: 0 
        bottom: 0 
        top: 0
        margin: auto
        font-size: 2em
        color: white
        text-shadow: 1px 2px 3px rgba(0, 0, 0, 0.5)

about-text
    padding: 15px
    display: block
    width: 100%
    height: auto    
    
    
    
blog-hero
    display: block
    width: 100%
    height: 600px
    background: linear-gradient(rgba(0, 0, 0, 0.555), rgba(0, 0, 0, 0.555)), url('../images/about.jpg')
    background-size: cover
    background-position: center center
    position: relative
    blog-hero-caption
        width: 60%
        height: 100px
        position: absolute
        left: 0 
        right: 0 
        bottom: 0 
        top: 0
        margin: auto
        color: white
        h1  
            font-size: 1.5em
            margin-bottom: 5px
        p
            font-size: 1em

contact
    @include outer-container()
    display: block
    padding: 15px
    .form
        @include span-columns(8)
        @include media($small)
            @include span-columns(12)
    .address
        @include span-columns(4)
        @include media($small)
            @include span-columns(12)

.social-bar
    display: none
    position: fixed
    bottom: 0
    left: 0 
    right: 0
    background: #424242
    color: $teal
    height: 45px
    width: 100%
    ul 
        display: inline-block !important
        li
            float: left
            margin-right: 10px

faq
    display: block
    width: 100%
    ul
        padding-left: 0px
        li
            list-style-type: none
            padding: 15px
            background: darken($teal, 15%)
            width: 100%
            transition: all 0.5s ease
            question
                width: 100%
        li:nth-child(odd)
            background: darken($teal, 7%)
        li:hover, li:nth-child(odd):hover
            background: #424242
            color: $teal
                

mobile-nav
    display: none
    @include media($small)
        display: block
        position: fixed
        top: 0 
        bottom: 0 
        right: 0 
        left: 0
        width: 100%
        height: 100%
        z-index: 9999
        background: #424242
        color: $teal
        ul
            list-style-type: none
            font-size: 2em
            font-weight: bold
            margin-top: 55px
            li
                color: $teal !important
        #close-mobile-nav
            position: absolute
            top: 25px
            right: 25px
            color: $teal
            
.job-list
    list-style-type: none
    padding-left: 0px
    li
        padding: 20px 0px 20px 10px
        font-size: 1.2em
    
.job-list 
    li:nth-child(even)
        background: rgba(0, 0, 0, 0.05)
        overflow: auto

        
        
.job-list 
    li:nth-child(odd)
        background: rgba(0, 0, 0, 0.1)
        overflow: auto


.job-info
    padding-top: 5px
    
.job-info
    @include span-columns(6)

.job-action 
    @include span-columns(3) 
    padding-top: 35px
    text-align: center
        
.job-list
    @include span-columns(6)
        
.job-active 
    @include span-columns(6)
        
        
.job-active
    .wrapper
        background: #424242
        border-bottom: 5px solid $teal
        border-radius: 5px
        color: $teal
        transition: all 0.5s ease 
        padding: 15px