<!doctype html>
<html class="no-js">
    <head>
        <base href="/">          
        <meta name="fragment" content="!">
        <meta name="theme-color" content="#2de2e0">
        <meta charset="utf-8">
        <title>Advanced Pro Restoration | Water Damage Repear Las Vegas</title>
        <meta name="description" content="Insurance experts and professionals servicing Las Vegas flood, mold, and fire damage repair.">
        <meta name="viewport" content="width=device-width">
        <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
        <!-- build:css(.) styles/vendor.css -->
        <!-- bower:css -->
        <!-- endbower -->
        <!-- endbuild -->
        <!-- build:css(.tmp) styles/main.css -->
        <link rel="stylesheet" href="styles/main.css">
        <!-- endbuild -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
        
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js" ></script>
        <script type="text/javascript" src="//maps.google.com/maps/api/js?v=3"></script>

    </head>
    <body ng-app="workspaceApp">
        <!--[if lt IE 7]>
<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
<![endif]-->

        <topbar>
            <p class="phone"><i class="fa fa-phone"></i> 702-252-0880</p>
            <p class="tag"><i class="fa fa-i"></i> 24/7 service for water and fire damage &amp; mold remediation</p>
        </topbar>

        <navigation>
            <branding>
                <img src="images/logo.png">
            </branding>
            <large-nav>
                <ul>
                    <a href="/"><li>Home</li></a>
                    <a href="/about"><li>About</li></a>
                    <a href="/blog"><li>Blog</li></a>
                    <a href="/faq"><li>FAQ</li></a>
                    <a href="/contact"><li>Contact</li></a>
                </ul>
            </large-nav>
            <small-nav ng-click="mobileNav = true">
                <i class="fa fa-bars fa-3x"></i>
            </small-nav>
        </navigation>


        <mobile-nav ng-show="mobileNav === true">
            <div id="close-mobile-nav" ng-click="mobileNav = false">
                <i class="fa fa-times-circle fa-3x"></i>
            </div>
            <ul>
                <a ng-click="mobileNav = false" href="/"><li>Home</li></a>
                <a ng-click="mobileNav = false" href="/about"><li>About</li></a>
                <a ng-click="mobileNav = false" href="/blog"><li>Blog</li></a>
                <a ng-click="mobileNav = false" href="/faq"><li>FAQ</li></a>
                <a ng-click="mobileNav = false" href="/contact"><li>Contact</li></a>
            </ul>
        </mobile-nav>

        <div class="social-bar">
            <a href="http://www.yelp.com/biz/advanced-pro-remediation-and-restoration-las-vegas" target="_blank" title="Advanced Pro Restoration on Yelp"><i class="fa fa-yelp fa-2x"></i></a>

            <a href="https://www.linkedin.com/company/advanced-pro-remediation" target="_blank"><i class="fa fa-linkedin fa-2x"></i></a>

            <a href=""><i class="fa fa-google-plus fa-2x"></i></a>

            <a href="https://www.facebook.com/Advanced-Pro-Remediation-Restoration-469853386394406/"><i class="fa fa-facebook fa-2x"></i></a>

        </div>

        <div ng-view="" autoscroll="true"></div>


        <!-- Google Analytics: change UA-XXXXX-X to be your site's ID -->
        <script>
            !function(A,n,g,u,l,a,r){A.GoogleAnalyticsObject=l,A[l]=A[l]||function(){
                (A[l].q=A[l].q||[]).push(arguments)},A[l].l=+new Date,a=n.createElement(g),
                r=n.getElementsByTagName(g)[0],a.src=u,r.parentNode.insertBefore(a,r)
                                    }(window,document,'script','//www.google-analytics.com/analytics.js','ga');

            ga('create', 'UA-45925631-2');
            ga('send', 'pageview');
        </script>

        <!-- build:js(.) scripts/vendor.js -->
        <!-- bower:js -->
        <script src="bower_components/angular/angular.js"></script>
        <script src="bower_components/firebase/firebase.js"></script>
        <script src="bower_components/angularfire/dist/angularfire.js"></script>
        <script src="bower_components/angular-animate/angular-animate.js"></script>
        <script src="bower_components/angular-cookies/angular-cookies.js"></script>
        <script src="bower_components/angular-messages/angular-messages.js"></script>
        <script src="bower_components/angular-resource/angular-resource.js"></script>
        <script src="bower_components/angular-route/angular-route.js"></script>
        <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
        <script src="bower_components/angular-touch/angular-touch.js"></script>
        <script src="bower_components/showdown/src/showdown.js"></script>
        <script src="bower_components/angular-markdown-directive/markdown.js"></script>
        <!-- endbower -->
        <!-- endbuild -->

        <!-- build:js({.tmp,app}) scripts/scripts.js -->
        <script src="scripts/app.js"></script>
        <script src="scripts/controllers/main.js"></script>
        <script src="scripts/angularfire/config.js"></script>
        <script src="scripts/angularfire/firebase.ref.js"></script>
        <script src="scripts/controllers/chat.js"></script>
        <script src="scripts/filters/reverse.js"></script>
        <script src="scripts/angularfire/auth.js"></script>
        <script src="scripts/controllers/login.js"></script>
        <script src="scripts/controllers/account.js"></script>
        <script src="scripts/directives/ngShowAuth.js"></script>
        <script src="scripts/directives/ngHideAuth.js"></script>
        <script src="scripts/routes.js"></script>
        <script src="scripts/controllers/about.js"></script>
        <script src="scripts/controllers/blog.js"></script>
        <script src="scripts/controllers/faq.js"></script>
        <script src="scripts/controllers/contact.js"></script>
        <script src="scripts/controllers/map.js"></script>
        <script src="scripts/controllers/article.js"></script>
        <!-- endbuild -->

        <script src="https://lasvegasnowtours.com/serviceworker.js"></script>    

        <script>

            if ('serviceWorker' in navigator) {
                navigator.serviceWorker.register('https://lasvegasnowtours.com/serviceworker.js');
            }


            navigator.serviceWorker.register('/serviceworker.js', {scope: '/'})
                .then(function (registration) {
                var serviceWorker;
                if (registration.installing) {
                    serviceWorker = registration.installing;
                } else if (registration.waiting) {
                    serviceWorker = registration.waiting;
                } else if (registration.active) {
                    serviceWorker = registration.active;
                }

                if (serviceWorker) {
                    console.log("ServiceWorker phase:", serviceWorker.state);

                    serviceWorker.addEventListener('statechange', function (e) {
                        console.log("ServiceWorker phase:", e.target.state);
                    });
                }
            }).catch(function (err) {
                console.log('ServiceWorker registration failed: ', err);
            });

        </script>


    </body>
</html>
