
<!DOCTYPE HTML>
<html>
    <head>

        <base href="/">          
        <meta name="fragment" content="!">
        <meta name="theme-color" content="#2de2e0">
        <meta charset="utf-8">
        <title>Advanced Pro Restoration | Water Damage Repear Las Vegas</title>
        <meta name="description" content="Insurance experts and professionals servicing Las Vegas flood, mold, and fire damage repair.">
        <meta name="viewport" content="width=device-width">
        <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
        <!-- build:css(.) styles/vendor.css -->
        <!-- bower:css -->
        <!-- endbower -->
        <!-- endbuild -->
        <!-- build:css(.tmp) styles/main.css -->
        <link rel="stylesheet" href="styles/main.css">
        <!-- endbuild -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">


        <link rel="stylesheet" href="styles/main.css">

        <!-- for mobile view -->
        <meta content='width=device-width, initial-scale=1' name='viewport'/>

        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js" ></script>
        <script type="text/javascript" src="//maps.google.com/maps/api/js?v=3"></script>

    </head>

    <body ng-app="workspaceApp" ng-controller="MapCtrl" style="margin:0; padding:0;">

        <!-- display the map here, you can changed the height or style -->
        <div id="map_canvas" style="height:25em; margin:0; padding:0;"></div>

        <div class="wrapper" style="padding: 15px">
            <h1>Travel time: {{ duration }}</h1>
            <h1>COORDS</h1> {{ techPosition }}
        </div>
    </body>



    <!-- build:js(.) scripts/vendor.js -->
    <!-- bower:js -->
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/firebase/firebase.js"></script>
    <script src="bower_components/angularfire/dist/angularfire.js"></script>
    <script src="bower_components/angular-animate/angular-animate.js"></script>
    <script src="bower_components/angular-cookies/angular-cookies.js"></script>
    <script src="bower_components/angular-messages/angular-messages.js"></script>
    <script src="bower_components/angular-resource/angular-resource.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
    <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
    <script src="bower_components/angular-touch/angular-touch.js"></script>
    <script src="bower_components/showdown/src/showdown.js"></script>
    <script src="bower_components/angular-markdown-directive/markdown.js"></script>
    <!-- endbower -->
    <!-- endbuild -->

    <!-- build:js({.tmp,app}) scripts/scripts.js -->
    <script src="scripts/app.js"></script>
    <script src="scripts/controllers/main.js"></script>
    <script src="scripts/angularfire/config.js"></script>
    <script src="scripts/angularfire/firebase.ref.js"></script>
    <script src="scripts/controllers/chat.js"></script>
    <script src="scripts/filters/reverse.js"></script>
    <script src="scripts/angularfire/auth.js"></script>
    <script src="scripts/controllers/login.js"></script>
    <script src="scripts/controllers/account.js"></script>
    <script src="scripts/directives/ngShowAuth.js"></script>
    <script src="scripts/directives/ngHideAuth.js"></script>
    <script src="scripts/routes.js"></script>
    <script src="scripts/controllers/about.js"></script>
    <script src="scripts/controllers/blog.js"></script>
    <script src="scripts/controllers/faq.js"></script>
    <script src="scripts/controllers/contact.js"></script>
    <script src="scripts/controllers/map.js"></script>
    <!-- endbuild -->

</html>