<main-cta>
    <div class="wrapper">
        <h4>About Advanced Pro Restoration</h4>
        <p>Dedicated to professionalism and excellence.</p>
    </div>
</main-cta>

<about-us>

    <about-us-hero>
        <about-us-hero-caption>
            <h1>All insurances accepted.</h1>
        </about-us-hero-caption>
    </about-us-hero>

    <about-text>
        <h4>Experience you can rely on.</h4>
        <p>Advanced Pro Remediation, L.L.C. (“Advanced Pro”) d.b.a. Advanced Pro Restoration not only offers unmatched remediation and restoration services, but our experienced licensed general contractors are able to rebuild your home or business even after extensive damages from fire, wind or flooding. We are a full class B Licensed General Contractor and are fully insured and bonded, allowing us to safely take on any project no matter the size or specifications. At Advanced Pro, we offer only the highest quality services and are committed to keeping our contractors and the occupants of your home or business safe both during and upon completion of your remediation, restoration or construction need.</p>
        <h4>Awards and Accolades</h4>
        <ul>
            <li>Angie’s List Super Service Award</li>
            <li>Certificate of Recognition for Excellence as New Minority Business of the Year</li>
            <li>Certificate of Commendation for Nomination for New MBE of the Year from US Senator Harry Reid</li>
            <li>Minority Business Enterprise of the Year by Nevada Minority Supplier Development Council</li>
            <li>Senatorial Recognition Award for Nomination as MBE of the Year</li>
            <li>Member of Society for American Military Engineers with APC Burke AJV</li>
            <li>Certificate of Commendation from Senator Harry Reid for Graduation from Business Development &amp; Education Program</li>
            <li>Certificate of Completion for Clark County Business Development &amp; Education Program</li>
        </ul>
    </about-text>
</about-us>