<about-us>
    <about-us-hero style="background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('{{article.image.cropped}}'); background-size:cover; height:500px">
        <about-us-hero-caption style="width: 70% !important">
            <h1>{{ article.title }}</h1>
        </about-us-hero-caption>
    </about-us-hero>

    <about-text>
        <div btf-markdown="article.body" style="background: white; max-width: 700px; padding: 35px; font-weight: 500; font-size: 1.2em; letter-spacing: 0.03em; margin: 0 auto"></div>
    </about-text>
</about-us>