<main-cta>
    <div class="wrapper">
        <h4>Blog</h4>
    </div>
</main-cta>

<blog>

    <a href="/article/{{p.$id}}"  ng-repeat="p in posts">
        <blog-hero style="background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('{{p.image.cropped}}'); background-size: cover; ">
            <blog-hero-caption>
                <h1>{{ p.title }}</h1>
                <p>{{ p.summary }}</p>
            </blog-hero-caption>
        </blog-hero>
    </a>


</blog>