<main-cta>
    <div class="wrapper">
        <h4>Contact Us</h4>
    </div>
</main-cta>

<contact>
    <div class="wrapper">
        <h1>We'd love to hear from you!</h1>
        <p>Our customers are the single most important thing to us. We pride ourselves on a job done professionally and with the utmost integrity. Get in touch and ask a question or simply to let us know what you think of services.</p>

        
        <h1 style="color:red">{{error}}</h1>
        
        
        <div class="form" ng-show="messageSent === false">
            <label>Name</label>
            <input type="text" ng-model="message.author"required>

            <label>Email</label>
            <input type="email" ng-model="message.authorEmail"required>

            <label>Message</label>
            <textarea ng-model="message.body"required></textarea>

            <button ng-click="contact(message); messageSent = true;">
                Send message
            </button>
        </div>
        
        <div class="form" ng-hide="messageSent === false">
            <h1>Your message has been sent!</h1>
            <p>We will respond as soon as possible.</p>
        </div>
        
        <div class="address">
            <h3>Phone</h3>
            <p>702-252-0880</p>

            <h3>Address</h3>
            <p>5961 McLeod Dr, Las Vegas, NV 89120</p>
        </div>
    </div>
</contact>