<main-cta>
    <div class="wrapper">
        <h4>Frequently Asked Questions</h4>
    </div>
</main-cta>

<faq>
    <ul>
        <li ng-repeat="f in faq" ng-click="showAnswer = !showAnswer">
            <question><h1>{{ f.question }}</h1></question>
            <answer ng-show="showAnswer === true"><p>{{ f.answer }}</p></answer>
        </li>
    </ul>
</faq>