<main-hero>
    <hero-caption class="wrapper">
        <h1>Flooded?</h1>
        <p>Our construction pros are on-call 24/7 to help you get back to normal after a water damage disaster.</p>
        <p><i class="fa fa-phone"></i> (702) 252-0880</p>
    </hero-caption>
</main-hero>

<main-cta>
    <div class="wrapper">
        <div class="cta-text">
            <h4>Experts in insurance claims</h4>
            <p>We understand that disasters such as flood and fire can wreak havoc on more than just your property. Insurance claims can be a daunting and time-consuming process.</p>
            <p>Our expert staff will get your property looking new and help navigate you through the claims process. We're your advocate every step of the way.</p>
            <h4>24/7 availability</h4>
            <p>Our technicians are on call day and night to serve you. We're always standing by ready to help fix your disaster.</p>
        </div>
        <div class="cta-image">
            <img src="images/van.jpg">
        </div>
    </div>
</main-cta>

<!--<app-cta>
    <div class="wrapper">    
        <img src="images/screenshot.png" height="auto" width="420px" style="float:left">
        <h4>Peace of mind in real-time</h4>
        <p>Our web application lets you see in real-time when our technicians are on the way to your property. View real-time claims status updates in one place.</p>

        <h5>Our platform features:</h5>
        <ul>
            <li>Real-time tracking of our technicians</li>
            <li>Digital work authorizations</li>
            <li>Job updates and notifications</li>
        </ul>
    </div>
</app-cta>-->

<testimonials>
    <div class="wrapper">
        <h1>Testimonials</h1>
        <p>Read what our happy customers have to say!</p>


        <div class="testimonials" ng-if="activeTestimonial" ng-swipe-left="setActiveTestimonialNext()" ng-swipe-right="setActiveTestimonialPrev()">
            <div class="testimonial-nav">
                <span ng-repeat="t in testimonials" ng-click="swapTestimonial(t);" class="testimonial-selector" ng-class="{'active-testimony': $index == selected}">
                   <i class="fa fa-comment"></i>
                </span>
            </div>

            <div class="testimonial">
                <div ng-show="activeTestimonial" btf-markdown="activeTestimonial.quote"></div>
                
                <p><em><strong><span ng-show="activeTestimonial.name">{{activeTestimonial.name}}</span> <br> <span ng-show="activeTestimonial.role">{{activeTestimonial.role}},  </span><span ng-show="activeTestimonial.company">{{activeTestimonial.company}}</span></strong></em></p>
            </div>




        </div>

    </div>
</testimonials>

<blog-latest>
    <div class="wrapper">
        <h1>Latest blog posts</h1>
    </div>
    <div class="wrapper">
        <card ng-repeat="b in blogs">
            <img src="{{ b.image.cropped }}">
            <card-text>
                <h3>{{ b.title }}</h3>
                <p>{{ b.summary }}</p>
                <a href="article/{{b.$id}}" class="readmore">Read more</a>
            </card-text>
        </card>
    </div>
</blog-latest>



