 <!-- display the map here, you can changed the height or style -->
        <div id="map_canvas" style="height:25em; margin:0; padding:0;"></div>

        <div class="wrapper" style="padding: 15px">
            <h1>Travel time: {{ duration }}</h1>
            <h1>COORDS</h1> {{ techPosition }}
        </div>